<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding twitte</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Write New Twitte</h1>
   <div class="twitte">
    <form method="post" action="/twittes">
        <input type="text" name="username" placeholder="Enter your's user name"> <br><br>
        <textarea rows="10" cols="35" name="post">Write your twitte here</textarea> <br><br>
        <button>submit</button>
    </form>
   </div>
</body>
</html>