<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Edit Twitte</h1>
  <div class="twitte">
    <h3>username : @<%=mytwitte.username %></h3>
    <p>id : <%=mytwitte.id%></p>
    <form method="post" action="/twittes/<%=mytwitte.id%>?_method=PATCH">
       <textarea name="content" rows="10" cols="35" placeholder="<%=mytwitte.post%>"></textarea>
      <br><br> <button>Submit Edited twitte </button>
    </form>
  </div>
</body>
</html>