<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>View Twitte</h1>
    <div class="twitte">
        <h3>Username : @<%= mytwitte.username %></h3>
        <p>id : <%=mytwitte.id%></p>
        <p class="mypost"> <%=mytwitte.post%></p>
        <button><a href="/twitter">Home</a></button>
    </div>
</body>
</html>