<!-- When you call ejs file form index.js express search for view folder and inside view folder 
 it will search for home file and send the home file to the bowser 
 
 and also make sure when you run the nodemon inside the view folder -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is a home page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nostrum
         quia qui possimus ad unde eius quae recusandae.Asperiores magni optio 
         eos suscipit iste voluptates dolorem minus harum eum nam!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro natus 
            perspiciatis unde assumenda recusandae ex facere, nulla dolorem excepturi 
            sint architecto non asperiores pariatur sunt aperiam impedit in cumque.</p>
            <button>click me</button>
</body>
</html>