*{
    padding: 0px;
    margin: 0px;
}
.navBar{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    
}
.navCon{
    width: 50%;
    display: flex;
     justify-content: space-evenly;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
.Btn{
    background-color: rgb(76, 59, 77);
    color: white;
    padding:0.5rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: none;
    margin-top: 0.5rem;
   
}