<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, delectus minima quam
         laudantium omnis numquam porro non odit! Maxime quas omnis ex quasi at incidunt impedit 
         dolorum pariatur possimus amet.
    Accusamus laboriosam veniam sapiente natus minus delectus excepturi asperiores ipsa vel, 
    dicta totam sequi consequuntur facilis libero. Doloribus laboriosam, ea sed alias laborum
     exercitationem, voluptatum vitae quisquam eum, ipsum perspiciatis.</p>
     <button>click</button>
<!-- go to ejs website see tag which is use to make page dyanmic-->
     <h2> Here changes at run time</h2>
     <h3><%= 2+8 %></h3>
     <h3><%= "sumit".toUpperCase() %></h3>
     <h3><%= ["Hello","How","Are","You"][0] %></h3>


<!--Passing data comming from the data base to the server by the help of ejs-->
<h1>Your dice gave value : <%= dataVar %></h1>

</body>
</html>